body {
   box-sizing: border-box;
   margin: 0px;
}

header div {
   background-color: rgb(156,214,244);
   height: 130px;
}

#logo {
   height: 50px;
   margin-top: 40px;
   margin-left: 15px;
}

#main-div {
   margin-left: 15px;
}

#main-div h1 {
    font-size: 38px;
    margin-top: 38px;
    margin-bottom: 0px;
}

#main-div :nth-child(2) {
    margin-top: -2px;
}

#main-div :nth-child(3) {
    margin-top: -18px;
}

#table_lorem {
    width: 100%;
}

#table_lorem thead {
    background-color: rgb(127,166,251);
    color: white;
}

#table_lorem tr:nth-child(odd) td {
    background-color: rgb(223,229,242);
}


#bg-image {
    position: absolute;
    opacity: 0.5;
}

.text_lightblue {
    color: rgb(112,164,255);
}

.small {
    font-size: 18px;
}

.smaller {
    font-size: 12px;
}